footer
    .contacts
        a.contact(href='https://github.com/cesarwbr', target='_blank', alt='GitHub')
            i.fa.fa-github.fa-lg
        a.contact(href='https://twitter.com/cesarwbr', target='_blank', alt='Twitter')
            i.fa.fa-twitter.fa-lg
        a.contact(href='https://br.linkedin.com/in/cesarwalvarenga', target='_blank', alt='LinkeIn')
            i.fa.fa-linkedin.fa-lg
        a.contact(href='https://www.facebook.com/cesarwbr', target='_blank', alt='Facebook')
            i.fa.fa-facebook.fa-lg
        a.contact(href='mailto:contact@cesarwilliam.com', target='_blank', alt='Gmail')
            i.fa.fa-envelope.fa-lg
