header
    .logo Cesar William
    
    .presentation
        h2.myname Hi! My name is Cesar
        h3.myabout A Computer Scientist and Frontend Engineer
    .moreabout 
        span More about me
        .nav-toggle
            span
