header
    .logo Cesar William

    .presentation
        h2.myname Hi! My name is Cesar
        h3.myabout A Computer Scientist and Frontend Engineer
    a.moreabout(href='#experience')
        span More about me
        .nav-toggle
            span
