header {
  width: 100%;
  height: 100vh;
  text-align: center;
  color: #fff;
  box-sizing: border-box;
  padding-top: 20px;
  background-image: url(../img/header-bg.jpg);
  background-position: center;
  background-size: cover; }
  header .logo {
    overflow: hidden;
    text-indent: 101%;
    white-space: nowrap;
    background-image: url(../img/logo.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 62px;
    height: 71px;
    margin: 0 auto; }
  header .presentation {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translateY(-50%) translateX(-50%);
        -ms-transform: translateY(-50%) translateX(-50%);
            transform: translateY(-50%) translateX(-50%);
    overflow: auto; }
    header .presentation .myname {
      font-size: 2.0625em; }
    header .presentation .myabout {
      font-weight: 300;
      font-size: 2.0625em; }
  header .moreabout {
    bottom: 2.5%;
    display: inline-block;
    position: absolute;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
    white-space: nowrap;
    color: rgba(255, 255, 255, 0.7);
    cursor: pointer;
    text-decoration: none; }
    header .moreabout span {
      font-size: 1.125em; }
    header .moreabout .nav-toggle {
      width: 50px;
      height: 50px;
      margin: 0 auto;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center; }
      header .moreabout .nav-toggle span:before,
      header .moreabout .nav-toggle span:after {
        content: "";
        display: block;
        height: 2px;
        background: rgba(255, 255, 255, 0.7);
        width: 30px;
        -webkit-transition: all 0.3s ease-in-out;
                transition: all 0.3s ease-in-out; }
      header .moreabout .nav-toggle span:after {
        -webkit-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
                transform: rotate(45deg); }
      header .moreabout .nav-toggle span:before {
        -webkit-transform: translateX(21px) translateY(1px) rotate(-45deg);
            -ms-transform: translateX(21px) translateY(1px) rotate(-45deg);
                transform: translateX(21px) translateY(1px) rotate(-45deg); }
    header .moreabout:hover {
      color: white; }
    header .moreabout:hover span:after,
    header .moreabout:hover span:before {
      background: white; }
    header .moreabout:hover span:after {
      -webkit-transform: rotate(-45deg);
          -ms-transform: rotate(-45deg);
              transform: rotate(-45deg); }
    header .moreabout:hover span:before {
      -webkit-transform: translateX(21px) translateY(1px) rotate(45deg);
          -ms-transform: translateX(21px) translateY(1px) rotate(45deg);
              transform: translateX(21px) translateY(1px) rotate(45deg); }

.section {
  overflow: auto; }
  .section .section-title {
    font-weight: 300;
    font-size: 2.0625em;
    margin: 0;
    padding: 50px 0 50px;
    color: #706f6f; }
    .section .section-title span {
      font-weight: bold; }

.experience {
  text-align: center; }
  .experience .experience-img {
    max-width: 100%; }
  .experience .experience-types {
    max-width: 1100px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin: 0 auto; }
    .experience .experience-types .experience-type {
      width: 340px;
      margin: 0 auto;
      padding: 50px 20px 0 20px; }
      .experience .experience-types .experience-type .experience-type-icon {
        font-size: 3.125em;
        color: #3693d4; }
      .experience .experience-types .experience-type .experience-type-title {
        font-weight: bold;
        font-size: 1.875em;
        color: #364347; }
      .experience .experience-types .experience-type .experience-type-describe {
        color: #706f6f; }
  @media (max-width: 775px) {
    .experience .experience-types {
      display: block; }
      .experience .experience-types .experience-type {
        box-sizing: border-box;
        width: 100%;
        max-width: 100%;
        padding: 50px 10px 0 10px; } }

footer {
  width: 100%;
  height: 70px;
  background: #eee;
  margin-top: 20px; }
  footer .contacts {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding-top: 15px;
    margin: 0 auto;
    width: 230px; }
    footer .contacts .contact {
      text-align: center;
      margin: 0 auto;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      background: #ccc;
      color: #364347; }
      footer .contacts .contact i {
        padding-top: 13px; }

body {
  font-family: 'Fira Sans', sans-serif;
  font-size: 16px; }
