<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>{{ page.title }}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="shortcut icon" href="favicon.ico" />
  <link href="https://fonts.googleapis.com/css?family=Fira+Sans:400,300,700" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
  <script src="bower_components/webcomponentsjs/webcomponents-lite.min.js"></script>
  <link rel="import" href="bower_components/google-analytics/google-analytics.html">

  <!-- bower:css -->
  <!-- endbower -->

  <!-- inject:css -->
  <!-- endinject -->

</head>

<body>
  {{ content }}

  <!-- bower:js -->
  <!-- endbower -->

  <!-- inject:js -->
  <!-- endinject -->

  <google-analytics code="UA-67252968-1"></google-analytics>
</body>

</html>
